[submodule "reference/rainbond-console"]
	path = reference/rainbond-console
	url = git@github.com:goodrain/rainbond-console.git
[submodule "reference/rainbond-ui"]
	path = reference/rainbond-ui
	url = git@github.com:goodrain/rainbond-ui.git
[submodule "reference/rainbond-chart"]
	path = reference/rainbond-chart
	url = git@github.com:goodrain/rainbond-chart.git
